# file or dir in this file will be ignored
.Rhistory
data/MU_Global.csv
data/T_Clay_CEC.csv
SHDB.html

# ignore all files in any directory named Manuscript/SHDB_cash*SHDB/files
Manuscript/
SHDB_cache/
SHDB_files/
Old/

# ignore all .ini
*.ini

# project path
# /G/My\ Drive/MyResearch/12.SoilHealthDB/SoilHealthDB